.head-title {
  h1 {
    margin: 20px;
    text-align: center;
    font-size: 39px;
  }
}
.journal {
  padding: 20px;
  .form-journal {
    border-radius: 8px;
    background-color: #f1f1f1;
    .form-show-journal {
      .AnneeAndFacture {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 500px;
        .anneeJournal {
          border-radius: 8px;
          margin: 0 0 0 50px;
          padding: 20px 60px 30px 50px;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          display: grid;
          label {
            font-size: 23px;
          }
          select {
            color: rgb(0, 119, 255);
            text-align: center;
            width: 150px;
            padding: 10px;
            outline: none;
            border-radius: 4px;
            font-size: 20px;
          }
        }
        .facture {
          @extend .anneeJournal;
          margin-right: 40px;
        }
      }
      .addJournal{
        h1 {
          margin-top: 20px;
          font-size: 23px;
        }
        hr {
          width: 150px;
        }
            .form-content {
              align-items: center;
                labeL {
                  padding: 3px;
                  font-size: 20px;
                }
                span {
                  font-size: 20px;
                }
                input {
                  border: none;
                  margin: 10px;
                  background-color: #eee;
                  color: rgb(0, 119, 255);
                  width: 490px;
                  padding: 10px;
                  border-radius: 8px;
                  
                  &:focus {
                    background-color: #fff;
                    outline: none;
                  }
                }
            }
  
        }

    }
    .addNouvelleAnee {
      border: none;
      button {
        font-size: 19px;
        width: 100%;
        color: white;
        padding: 10px;
        opacity: 0.9;

        &:hover {
          opacity: 1;
          filter: brightness(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
  .table-journal {
    padding: 30px;
    h1 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .section-table {
      width: 100%;
      .table-heading {
        width: 100%;
        .heading {
          text-align: center;
          background-color: #f1f1f1;
          th {
            padding: 20px;
            &:nth-child(1) {
              width: 125px;
            }
            &:nth-child(2) {
              width: 150px;
            }
            &:nth-child(3) {
              width: 100px;
            }
            &:nth-child(4) {
              width: 250px;
            }
            &:nth-child(5) {
              width: 150px;
            }
            &:nth-child(6) {
              width: 100px;
            }
            &:nth-child(7) {
              width: 150px;
            }
            &:nth-child(8) {
              width: 200px;
            }
            &:last-child {
              width: 150px;
            }
          }
        }
      }
      .table-body {
        .data {

          text-align: center;
          cursor: pointer;
          border-bottom: 1px solid #eee;
          td {
            padding: 8px 20px;
            border: 1px solid #eee;
            &:last-child {
              display: flex;
              justify-content: space-between;
              border: none;
            }
          }
          &:nth-child(even) {
            background-color: #eee;
          }
        }
      }
    }
    .print {
      margin: 20px 10px;
      border: none;
      i {
        background: none;
        color: #fff;
      }
      button {
        padding: 8px 20px;
        font-size: 16px;
        font-weight: bold;
        opacity: 0.9;

        &:hover {
          opacity: 1;
          filter: brightness(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
