@if (year) {
<app-add-annee (open)="OpenAddForm()"></app-add-annee>
}

<div class="head-title">
  <h1>Ministere Finance et du Budget</h1>
</div>
<main class="journal">
  <!-- ---------------------Add journal------------------ -->
  <div class="form-journal">
    <form class="form-show-journal" [formGroup]="EntreeForm">
      <div class="addJournal">
        <h1 class="add">Enregistrement</h1>
        <hr />
        <div class="Annee">
          <div class="anneeJournal">
            <label for="annee">Annee : </label>
            <select name="newannee" id="newannee" formControlName="newannee">
              @for(annee of anneedata; track $index){
              <option value="{{ annee.newannee }}">{{ annee.newannee }}</option>
              }
            </select>
          </div>
        </div>

        <div class="form-content">
          <label for="dateFacture">Date d'entree</label>
          <input
            type="date"
            name="dateFacture"
            id="dateFacture"
            formControlName="dateFacture"
          />
        </div>
        <div class="form-content">
          <label for="nomenclature">Nomenclature </label>
          <input
            type="text"
            name="nomenclature"
            id="nomenclature"
            formControlName="nomenclature"
          />
        </div>
        <div class="form-content">
          <label for="destination">Destination </label>
          <input
            type="text"
            name="destination"
            id="destination"
            formControlName="destination"
          />
        </div>
        <div class="form-content">
          <label for="quantite">Quantite </label>
          <input
            type="text"
            name="quantite"
            id="quantite"
            formControlName="quantite"
          />
        </div>
        <div class="form-content">
          <label for="prix">Prix </label>
          <input type="text" name="prix" id="prix" formControlName="prix" />
          <span for="ar">Ar</span><br />
        </div>
        <div class="form-content">
          <label for="designation">Designation </label>
          <input
            type="text"
            name="designation"
            id="designation"
            formControlName="designation"
          />
        </div>
      </div>
      <div class="addNouvelleAnee">
        <button type="button" class="btn btn-primary" (click)="OpenAddForm()">
          Ajouter nouvelle Annee
        </button>
      </div>
    </form>
  </div>

  <!-- ---------------------table journal----------- -->
  <div class="table-journal">
    <h1>Liste des donnees enregistree</h1>
    <table class="section-table">
      <thead class="table-heading">
        <tr class="heading">
          <th>Date</th>
          <th>Nomenclature</th>
          <th>Designation</th>
          <th>Destination</th>
          <th>Quantite</th>
          <th>Prix</th>
          <th>Annee Grand Livre</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for (data of entreedata; track $index) {
        <tr class="data" (click)="modifEntree(data)">
          <td>{{ data.facture.dateFacture }}</td>
          <td>{{ data.nomenclature }}</td>
          <td>{{ data.designation }}</td>
          <td>{{ data.facture.destination }}</td>
          <td>{{ data.quantite }}</td>
          <td>{{ data.prix }}</td>
          <td>{{ data.annee.newannee }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
