@if (year) {
  <app-add-annee (open)="OpenAddForm()"></app-add-annee>
}

<div class="head-title">
  <h1>Ministere Finance et du Budget</h1>
</div>
<main class="journal">
  <!-- ---------------------Add journal------------------ -->
  <div class="form-journal">
    <div class="AnneeAndFacture">
      <div class="anneeJournal">
        <label for="annee">Annee</label>
        <select name="annee" id="annee">
          <option value="">2023</option>
        </select>
      </div>
      <div class="facture">
        <label for="facture">Facture</label>
        <select name="facture" id="facture">
          <option value="">1</option>
        </select>
      </div>
    </div>
    <div class="addJournal">
      <h1 class="add">Enregistrement</h1>
      <hr />
      <form class="form-show-journal d-flex">
        <div class="form-content">
          <label for="numFacture">Numero </label>
          <input type="text" name="numFacture" id="numFacture" disabled />
        </div>
        <div class="form-content">
          <label for="date">Date d'entree</label>
          <input type="date" name="date" id="date" />
        </div>
        <div class="form-content">
          <label for="nomenclature">Nomenclature </label>
          <input type="text" name="nomenclature" id="nomenclature" disabled />
        </div>
        <div class="form-content">
          <label for="destination">Destination </label>
          <input type="text" name="destination" id="destination" disabled />
        </div>
        <div class="form-content">
          <label for="quantite">Quantite </label>
          <input type="text" name="quantite" id="quantite" disabled />
        </div>
        <div class="form-content">
          <label for="prix">Prix </label>
          <input type="text" name="prix" id="prix" disabled />
          <span for="ar">Ar</span><br />
        </div>
        <div class="form-content">
          <label for="designation">Designation </label>
          <input type="text" name="designation" id="designation" disabled />
        </div>
      </form>
      <div class="addNouvelleAnee">
        <button type="button" class="btn btn-primary" (click)="OpenAddForm()">
          Ajouter nouvelle Annee
        </button>
      </div>
    </div>
  </div>
  <!-- ---------------------table journal----------- -->
  <div class="table-journal">
    <h1>Liste des donnees enregistree</h1>
    <table class="section-table">
      <thead class="table-heading">
        <tr class="heading">
          <th>Numero du Facture</th>
          <th>Date</th>
          <th>Nomenclature</th>
          <th>Designation</th>
          <th>Destination</th>
          <th>Quantite</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="data">
          <td>djkdfjkdfjdk</td>
          <td>djkdfjkdfjdk</td>
          <td>djkdfjkdfjdk</td>
          <td>djkdfjkdfjdk</td>
          <td>djkdfjkdfjdk</td>
          <td>djkdfjkdfjdk</td>
          <td>djkdfjkdfjdk</td>
        </tr>
      </tbody>
    </table>
    <div class="print">
      <button type="button" class="btn btn-dark">
        <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
      </button>
    </div>
  </div>
</main>
