.dashboard-list {
  width: calc(100vw - 450px);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  .separator {
    margin: 0 50px 0 50px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 12px;
    display: grid;
    .dashboard {
      border-radius: 12px;
      padding: 30px;
      color: white;
      text-align: center;
      span {
        font-size: 25px;
      }
      hr {
        color: black;
      }
      p {
        font-size: 90px;
      }
      &.Service {
        background-color: rgb(0, 204, 255);
      }
      &.Fournisseur {
        background-color: rgb(9, 248, 81);
      }
      &.Facture {
        background-color: rgb(241, 67, 67);
      }
      &.entree {
        background-color: rgb(0, 204, 255);
      }
      &.sortie {
        background-color: rgb(9, 248, 81);
      }
      &.Quitus {
        background-color: rgb(241, 67, 67);
      }
    }
  }
}
