<main class="dashboard-list">
  <div class="separator">
    <div class="dashboard Service">
      <span>Service</span>
      <hr />
      <p>{{ getTotalCount() }}</p>
    </div>
  </div>
  <div class="separator">
    <div class="dashboard Fournisseur">
      <span>Fournisseur</span>
      <hr />
      <p>{{ frnstotal() }}</p>
    </div>
  </div>
  <div class="separator">
    <div class="dashboard Facture">
      <span>Facture</span>
      <hr />
      <p>{{ facturetotal() }}</p>
    </div>
  </div>
  <div class="separator">
    <div class="dashboard entree">
      <span>Materiel entree</span>
      <hr />
      <p>{{ entreetotal() }}</p>
    </div>
  </div>
  <div class="separator">
    <div class="dashboard sortie">
      <span> Materiel sortie </span>
      <hr />
      <p>{{ sortietotal() }}</p>
    </div>
  </div>

  <div class="separator">
    <div class="dashboard Quitus">
      <span> Quitus </span>
      <hr />
      <p>{{ quitustotal() }}</p>
    </div>
  </div>
</main>
