@if(PrintComponent){
<app-print-facture (close)="openPrint()"></app-print-facture>
}
<main class="facture">
  <!-- ----------------------facture------------------------- -->
  <section class="form-component w-100">
    <div class="component-title">
      <h1 class="title">{{ add }}</h1>

      <hr />
      <form
        class="component-form"
        [formGroup]="FactureForm"
        (submit)="submitFacture()"
      >
        <div class="component">
          <label for="date">Date</label>
          <input
            type="date"
            name="date"
            id="date"
            formControlName="dateFacture"
          />
        </div>
        <div class="component">
          <label for="destination">Destination</label>
          <input
            type="text"
            name="destination"
            formControlName="destination"
            id="destination"
          />
          @if (destination?.touched && destination?.errors?.["required"]) {
          <span class="error-text"> Le destination, s'il vous plait. </span>
          }
        </div>
        <div class="component">
          <label for="objet">Objet</label>
          <input
            type="text"
            name="objet"
            formControlName="objetFacture"
            id="objet"
          />
          @if (objetFacture?.touched && objetFacture?.errors?.["required"]) {
          <span class="error-text"> L'objet, s'il vous plait. </span>
          }
        </div>
        <div class="component">
          <label for="lieu">Lieu</label>
          <input
            type="text"
            name="lieu"
            formControlName="LieuFacture"
            id="lieu"
          />
          @if (LieuFacture?.touched && LieuFacture?.errors?.["required"]) {
          <span class="error-text"> Le lieu, s'il vous plait. </span>
          }
        </div>
        <div class="component">
          <label for="montant">Montant</label>
          <input
            type="text"
            name="montant"
            formControlName="montantFacture"
            id="montant"
          />
          @if (montantFacture?.touched && montantFacture?.errors?.["required"])
          {
          <span class="error-text"> Le prix, s'il vous plait. </span>
          }
        </div>
        <div class="component">
          <label for="type">Type</label>
          <input
            type="text"
            name="type"
            formControlName="typeFacture"
            id="type"
          />
          @if (typeFacture?.touched && typeFacture?.errors?.["required"]) {
          <span class="error-text"> D'ou vous venez, s'il vous plait. </span>
          }
        </div>

        <!-- ----------------------fournisseur------------------------- -->

        <div class="component-title fournisseur">
          <h1 class="title">Fournisseur</h1>
          <hr />

          <div class="component">
            <label for="nomFrns">Nom du Fournisseur</label>
            <select name="nomFrns" id="nomFrns" formControlName="nomFrns">
              @for(frns of dataFrns; track $index){
              <option value="{{ frns.nomFrns }}">
                {{ frns.nomFrns }}
              </option>
              }
            </select>
          </div>
        </div>

        <div class="addFacture">
          <button type="submit" class="btn btn-primary">
            {{ formHeader }}
          </button>
        </div>
      </form>
    </div>
  </section>
  <!-- ----------------------table------------------------- -->
  <section class="table">
    <table class="section-table-facture">
      <thead class="table-heading-facture">
        <tr class="heading">
          <th>Nom du Fournisseur</th>

          <th>Date</th>
          <th>Destination</th>
          <th>Objet</th>
          <th>Lieu</th>
          <th>Montant</th>
          <th>Type</th>

          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for (item of dataFacture; track $index) {
        <tr class="data">
          <td>
            {{ item.fournisseur.nomFrns }}
          </td>

          <td>
            {{ item.dateFacture }}
          </td>
          <td>
            {{ item.destination }}
          </td>
          <td>
            {{ item.objetFacture }}
          </td>
          <td>
            {{ item.LieuFacture }}
          </td>
          <td>
            {{ item.montantFacture }}
          </td>
          <td>
            {{ item.typeFacture }}
          </td>

          <td class="data-control">
            <button class="btn btn-success" (click)="modifFacture(item)">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button
              class="btn btn-danger"
              (click)="deleteFacture(item.numFacture)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="print">
      <button type="button" class="btn btn-dark" (click)="openPrint()">
        <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
      </button>
    </div>
  </section>
</main>
