<main class="add-fournisseur fill-view">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form">
      <div class="container-form">
        <h1>{{ title }}</h1>
        <hr />

        <label for="numero">Numero </label>
        <input type="text" placeholder="ex: 1" name="numero" required />
        <label for="name">Nom </label>
        <input type="text" placeholder="ex: RASOLOFO " name="name" required />
        <label for="forname">Prenom </label>
        <input
          type="text"
          placeholder="ex: Richard Guerdo"
          name="forname"
          required
        />
        <label for="adresse">Adresse </label>
        <input
          type="text"
          placeholder="ex: Antananarivo"
          name="adresse"
          required
        />

        <label for="contact">Contact</label>
        <input
          type="text"
          placeholder="ex: 0340000000"
          name="contact"
          required
        />

        <label for="type">Fournisseur venant du </label>
        <input type="type" placeholder="ex : Poste" name="type" required />
        <div class="btn">
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </form>
  </div>
</main>
