<main class="sign-in fill-view">
  <div class="auth-form w-100 form-hero">
    <h1 class="title-home">Comptabilite des Materiels</h1>
    <p class="title-no-acount">Vous n'avez pas de compte ?</p>
    <button
      type="button"
      class="btn btn-primary auth-inscription"
      [routerLink]="['/create-account']"
      routerLinkActive="router-link-active"
    >
      Inscription <i class="fa fa-arrow-right"> </i>
    </button>
  </div>
  <div class="auth-form w-100 form-content">
    <form class="form-container" [formGroup]="loginForm" (submit)="Submit()">
      <h1><i class="fa fa-eye"></i> Se Connecter</h1>
      <hr />
      <div class="form-container-text immatricule-form">
        <label for="immatricule">Immatricule</label>
        <input
          type="text"
          placeholder="Enter un immatricule"
          formControlName="immatricule"
          required
        />
        @if ( immatricule?.invalid && (immatricule?.dirty ||
        immatricule?.touched) ) { @if (immatricule?.errors?.["required"]) {
        <span>Immatricule vide</span>
        } }
      </div>
      <div class="form-container-text password-form">
        <label for="password">Mot de passe</label>
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          placeholder="Enter votre mot de passe"
          formControlName="password"
          name="password"
        />
        @if (password?.invalid && (password?.dirty || password?.touched)) { @if
        (password?.errors?.["required"]) {
        <span>Mot de passe vide</span>
        } }
        <button
          class="btn-show-password transition"
          (click)="PassordVisible()"
          type="button"
        >
          @if (!showPassword) {
          <i class="fa fa-eye"></i>
          } @else {
          <i class="fa fa-eye-slash"></i>
          }
        </button>
      </div>
      <div class="forgot-password">
        <a href="#">Mot de passe oublier ?</a>
      </div>
      <div class="btn-submit">
        @if (loginForm.valid) {
        <button
          class="{{
            isLoginSuccess
              ? 'btn-login success transition'
              : 'btn-login transition'
          }}"
          type="submit"
        >
          @if (isSubmitting) {
          <i class="fa fa-circle-notch fa-spin"></i>
          } @else { @if (isLoginSuccess) {
          <i class="fa fa-check"></i>
          } @else { Se connecter } }
        </button>
        }
      </div>
    </form>
  </div>
</main>
