@if (Annee) {
<app-add-annee (open)="OpenAddForm()"></app-add-annee>
}
<div class="head-title">
  <h1>Ministere Finance et du Budget</h1>
</div>
<main class="journal">
  <!-- ---------------------Add journal------------------ -->

  <div class="form-journal">
    <form class="form-show-journal" [formGroup]="EntreeForm">
      <div class="addJournal">
        <h1 class="add">Enregistrement</h1>
        <hr />
        <div class="Annee">
          <div class="anneeJournal">
            <label for="annee">Annee :</label>
            <select name="newannee" id="newannee" formControlName="newannee">
              @for(annee of anneedata; track $index){
              <option value="{{ annee.newannee }}">{{ annee.newannee }}</option>
              }
            </select>
          </div>
        </div>
        <div class="form-content">
          <label for="numFolioGL">Numero Folio</label>
          <input type="text" name="numFolioGL" formControlName="numFolioGL" />
        </div>
        <div class="form-content">
          <label for="nomenclature">Nomenclature </label>
          <input
            type="text"
            name="nomenclature"
            id="nomenclature"
            formControlName="nomenclature"
          />
        </div>
        <div class="form-content">
          <label for="especeUnitaire">Espace Unitaire </label>
          <input
            type="text"
            name="espaceUnitaire"
            id="espaceUnitaire"
            formControlName="especeUnitaire"
          />
        </div>
        <div class="form-content">
          <label for="quantite">Quantite </label>
          <input
            type="text"
            name="quantite"
            id="quantite"
            formControlName="quantite"
          />
        </div>
        <div class="form-content">
          <label for="prix">Prix </label><br />
          <input type="text" name="prix" id="prix" formControlName="prix" />
          <span for="ar">Ar</span>
        </div>
        <div class="form-content">
          <label for="designation">Designation </label>
          <input
            type="text"
            name="designation"
            id="designation"
            formControlName="designation"
          />
        </div>
      </div>
      <div class="addNouvelleAnee">
        <button type="button" class="btn btn-primary" (click)="OpenAddForm()">
          Ajouter nouvelle Annee
        </button>
      </div>
    </form>
  </div>
  <!-- ---------------------table journal----------- -->
  <div class="table-journal">
    <h1>Liste des donnees enregistree</h1>
    <table class="section-table">
      <thead class="table-heading">
        <tr class="heading">
          <th>Numero Folio</th>
          <th>Nomenclature</th>
          <th>Prix Unitaire</th>
          <th>Quantite</th>
          <th>Prix</th>
          <th>Designation</th>
          <th>Annee Grand Livre</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for (data of entreedata; track $index) {
        <tr class="data" (click)="modifEntree(data)">
          <td>{{ data.numFolioGL }}</td>
          <td>{{ data.nomenclature }}</td>
          <td>{{ data.designation }}</td>
          <td>{{ data.especeUnitaire }}</td>
          <td>{{ data.quantite }}</td>
          <td>{{ data.prix }}</td>
          <td>{{ data.annee.newannee }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
