.head-title {
  h1 {
    margin: 20px;
    text-align: center;
    font-size: 29px;
  }
}
.journal {

  width: 100%;
  max-width: 690px;
  padding: 0 50px 0 50px;
  .form-journal{
    background-color: #f1f1f1;
    padding: 20px 20px 0 20px;
    .form-show-journal{
      .addJournal{
      h1{
        font-size: 25px;
      }
      .Annee{
          border-radius: 8px;
           margin: 0 0 0 50px;
           padding: 20px ;

          label {
            font-size: 19px;
          }
          select {
            text-align: center;
            color: rgb(0, 119, 255);
            outline: none;
            width: 100px;
            padding: 10px;
            border-radius: 4px;
            font-size: 16px;
        }
      }
      .form-content {
        align-items: center;
          labeL {
            padding: 3px;
            font-size: 20px;
          }
          span {
            font-size: 20px;
          }
          input {
            border: none;
            margin: 10px;
            background-color: #eee;
            color: rgb(0, 119, 255);
            width: 490px;
            padding: 10px;
            border-radius: 8px;

            &:focus {
              background-color: #fff;
              outline: none;
            }
          }
      }
    }
    .addNouvelleAnee {
      padding-top: 30px;
      border: none;
      button {
        font-size: 16px;
        width: 100%;
        color: white;

        opacity: 0.9;

        &:hover {
          opacity: 1;
          filter: brightness(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
  .table-journal {
    padding: 30px;
    h1 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .section-table {
      width: 100%;
      .table-heading {
        width: 100%;
        .heading {
          text-align: center;
          background-color: #f1f1f1;
          th {
            padding: 20px;

          }
        }
      }
      .table-body {
        .data {

          text-align: center;
          cursor: pointer;
          border-bottom: 1px solid #eee;
          td {
            padding: 8px 20px;

            border: 1px solid #eee;

          }
          &:nth-child(even) {
            background-color: #eee;
          }
        }
      }
    }
    .print {
      margin: 20px 10px;
      border: none;
      i {
        background: none;
        color: #fff;
      }
      button {
        padding: 8px 20px;
        font-size: 16px;
        font-weight: bold;
        opacity: 0.9;

        &:hover {
          opacity: 1;
          filter: brightness(1.2);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
