<nav class="app-navbar">
  <div class="nav-heading">
    <div class="user-info">
      <span class="info"
        ><i class="fa fa-user"></i>
        <span class="user-name">TSIANOY Karl ELvestino Dorelin</span></span
      >

      <span class="info"><i class="fa fa-id-card"></i>221I22 </span>

      <span class="info"><i class="fa fa-at"></i> Stagiaire</span>
    </div>

    <div class="user-info">
      <span class="info"><i class="fa fa-clock"></i> {{ heureActuelle }}</span>

      <span class="info"
        ><i class="fa fa-calendar"></i> {{ dateAujourdhui }}</span
      >
    </div>
  </div>

  <!-- -----------ROUTES--------------- -->

  <div class="nav-links">
    <a
      routerLink="/apps"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
    >
      <i class="fa fa-home"></i> Acceuil
    </a>
    <a routerLink="graphe" routerLinkActive="active" class="nav-link">
      <i class="fa fa-dashboard"></i> Tableau de Bord
    </a>
    <a routerLink="fournisseur" routerLinkActive="active" class="nav-link">
      <i class="fa fa-users"></i> Fournisseur
    </a>
    <a routerLink="service" routerLinkActive="active" class="nav-link">
      <i class="fa-solid fa-gears"></i>
      Service
    </a>
    <a routerLink="materiel" routerLinkActive="active" class="nav-link">
      <i class="fa fa-pencil"></i> Materiel
    </a>
    <a routerLink="journal" routerLinkActive="active" class="nav-link">
      <i class="fa fa-book"></i> Journal
    </a>
    <a routerLink="grandLivre" routerLinkActive="active" class="nav-link">
      <i class="fa-solid fa-book-open"></i> Grand Livre
    </a>
    <a routerLink="quitus" routerLinkActive="active" class="nav-link">
      <i class="fa-solid fa-receipt"></i> Quitus
    </a>
  </div>
  <div class="log">
    <button class="logout-btn btn bg-danger" (click)="logOut()">
      Se deconnecter
    </button>
  </div>
</nav>
