<div class="materiel-heading">
  <div class="img">
    <img src="../../../../assets/img/DGBLogo-picsay.png" alt="" />
  </div>
  <div class="img">
    <img src="../../../../assets/img/logo-gris1-picsay.png" alt="" />
  </div>
  <div class="img">
    <img src="../../../../assets/img/logo_mfb-picsay.jpg" alt="" />
  </div>
</div>
<section class="material-component w-100">
  <div class="material-btn-list">
    <a routerLink="facture" routerLinkActive="active" class="material-links"
      >Facture</a
    >
    <a routerLink="entree" routerLinkActive="active" class="material-links"
      >Entree</a
    >
    <a routerLink="sortie" routerLinkActive="active" class="material-links"
      >Sortie</a
    >
  </div>
</section>
<router-outlet></router-outlet>
