@if (isFournisseurComponentOpen) {
<app-addfournisseur (close)="toggleOpenAddFournisseur()"></app-addfournisseur>
} @if (isOrdreComponentOpen) {
<app-add-ordre (close)="toggleOpenAddOrdre()"></app-add-ordre>
}@if(PrintComponent){
<app-print-frns (close)="openPrint()"></app-print-frns>
}
<div class="fournisseur-title">
  <h1>Ministere du Finance et du Budget</h1>
</div>
<!-- ------------------------fournisseur--------------------- -->
<section class="fournisseur">
  <div class="list-fournisseur">
    <h2 class="list-fournisseur-title">Fournisseur Enregistree</h2>
    <div class="searchbarre">
      <input
        type="text"
        id="search"
        placeholder="Recherche..."
        [formControl]="search"
      />
      <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
    </div>
    <button
      type="button"
      class="btn btn-success btn-add"
      (click)="toggleOpenAddFournisseur()"
    >
      <i class="fa fa-plus"></i> Ajout nouveau fournisseur
    </button>
  </div>
  <!-- ------------------affichage donnee fournisseur------------------ -->
  <table class="section-table-fournisseur">
    <thead class="table-heading-fournisseur">
      <tr class="heading">
        <th>Numero</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>Contact</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-body-fournisseur">
      @for (item of items; track $index) {
      <tr class="data">
        <td>
          {{ item.numFrns }}
        </td>
        <td>
          {{ item.nomFrns }}
        </td>
        <td>
          {{ item.prenomFrns }}
        </td>
        <td>
          {{ item.adrsFrns }}
        </td>
        <td>
          {{ item.telFrns }}
        </td>
        <td>
          {{ item.typeFrns }}
        </td>
        <td class="data-control">
          <button class="btn btn-success" (click)="modifData(item)">
            <i class="fa-solid fa-pencil"></i>
          </button>

          <button class="btn btn-danger" (click)="deleteData(item.numFrns)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="print">
    <button type="button" class="btn btn-dark" (click)="openPrint()">
      <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
    </button>
  </div>
</section>

<!-- --------------------ORDRE----------------------- -->
<section class="fournisseur">
  <div class="list-fournisseur">
    <h2 class="list-fournisseur-title">Ordre Enregistree</h2>
    <div class="searchbarre">
      <input type="text" name="search" id="search" placeholder="Recherche..." />
      <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
    </div>
    <button
      type="button"
      class="btn btn-success btn-add"
      (click)="toggleOpenAddOrdre()"
    >
      <i class="fa fa-plus"></i> Ajout nouveau Ordre
    </button>
  </div>
  <!-- ------------------affichage donnee ordre------------------ -->
  <table class="section-table-fournisseur">
    <thead class="table-heading-fournisseur">
      <tr class="heading">
        <th>Numero d'ordre</th>
        <th>Annee du Journal</th>
        <th>Date</th>
        <th>Numero du service</th>
        <th>Nom du service</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-body-fournisseur">
      @for (item of items; track $index) {
      <tr class="data">
        <td>
          {{ item.numFrns }}
        </td>
        <td>
          {{ item.nomFrns }}
        </td>
        <td>
          {{ item.prenomFrns }}
        </td>
        <td>
          {{ item.telFrns }}
        </td>
        <td>
          {{ item.typeFrns }}
        </td>
        <td class="data-control">
          <button class="btn btn-success" (click)="modifData(item)">
            <i class="fa-solid fa-pencil"></i>
          </button>

          <button class="btn btn-danger" (click)="deleteData(item.numFrns)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="print">
    <button type="button" class="btn btn-dark">
      <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
    </button>
  </div>
</section>
