@if (isFournisseurComponentOpen) {
<main class="add-fournisseur fill-view">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeCard()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form
      class="style-form"
      [formGroup]="FournisseurForm"
      (submit)="submitFournisseur()"
    >
      <div class="container-form">
        <h1>{{ title }}</h1>
        <hr />

        <div class="container-form nomFrns">
          <label for="nomFrns">Nom </label>
          <input
            type="text"
            placeholder="ex: RASOLOFO "
            formControlName="nomFrns"
            required
          />
          @if (nomFrns?.touched && nomFrns?.errors?.["required"]) {
          <span class="error-text"> Entrer votre nom, s'il vous plait. </span>
          }
        </div>
        <div class="container-form prenomFrns">
          <label for="prenomFrns">Prenom </label>
          <input
            type="text"
            placeholder="ex: Richard Guerdo"
            formControlName="prenomFrns"
            required
          />
          @if (prenomFrns?.touched && prenomFrns?.errors?.["required"]) {
          <span class="error-text"> Entrer prenom, s'il vous plait. </span>
          }
        </div>
        <div class="container-form adrsFrns">
          <label for="adrsFrns">Adresse </label>
          <input
            type="text"
            placeholder="ex: Antananarivo"
            formControlName="adrsFrns"
            required
          />
          @if (adrsFrns?.touched && adrsFrns?.errors?.["required"]) {
          <span class="error-text">
            Entrer votre adresse, s'il vous plait.
          </span>
          }
        </div>
        <div class="container-form telFrns">
          <label for="telFrns">Contact</label>
          <input
            type="text"
            placeholder="ex: 0340000000"
            formControlName="telFrns"
            required
          />
          @if (telFrns?.touched && telFrns?.errors?.["required"]) {
          <span class="error-text">
            Entrer votre numero de telephone, s'il vous plait.
          </span>
          }
        </div>
        <div class="container-form typeFrns">
          <label for="typeFrns">Fournisseur venant du </label>
          <input
            type="type"
            placeholder="ex : Poste"
            formControlName="typeFrns"
            required
          />
          @if (typeFrns?.touched && typeFrns?.errors?.["required"]) {
          <span class="error-text">
            Entrer d'ou vous venez, s'il vous plait.
          </span>
          }
        </div>

        <div class="btn">
          @if (FournisseurForm.valid) {
          <button
            class="{{
              isRegisterSuccess
                ? 'btn btn-success transition'
                : 'btn btn-primary transition'
            }}"
            type="submit"
          >
            @if(!isSubmitting && !isRegisterSuccess) { {{ formHeader }} }
          </button>
          }
        </div>
      </div>
    </form>
  </div>
</main>

} @if (isOrdreComponentOpen) {
<main class="add-ordre fill-view">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="CloseCardOrdre()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form" [formGroup]="OrdreForm" (submit)="AddOrdre()">
      <div class="container-form">
        <h1>{{ title }}</h1>
        <hr />

        <div class="container-form">
          <label for="date">Date </label>
          <input
            type="date"
            name="date"
            id="date"
            formControlName="dateOrdre"
          />
        </div>
        <div class="container-form">
          <label for="nomService">Numero du service </label>
          <select formControlName="nomService" id="nomService">
            @for(service of servicedata; track $index){
            <option value="{{ service.nomService }}">
              {{ service.nomService }}
            </option>
            }
          </select>
        </div>
        <div class="container-form">
          <label for="newannee">Annee du Journal </label>
          <select name="newannee" id="newannee" formControlName="newannee">
            @for(annee of AnnneeData; track $index){
            <option value="{{ annee.newannee }}">{{ annee.newannee }}</option>
            }
          </select>
        </div>

        <div class="btn">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </div>
    </form>
  </div>
</main>

}@if(PrintComponent){
<app-print-frns (close)="openPrint()"></app-print-frns>
}@if(PrintComponentOrdre){
<app-print-ordre (close)="openPrintOrdre()"></app-print-ordre>
}
<div class="fournisseur-title">
  <div class="img">
    <img src="../../../../assets/img/DGBLogo-picsay.png" alt="" />
  </div>
  <div class="img">
    <img src="../../../../assets/img/logo-gris1-picsay.png" alt="" />
  </div>
  <div class="img">
    <img src="../../../../assets/img/logo_mfb-picsay.jpg" alt="" />
  </div>
  <!-- <h1>Ministere du Finance et du Budget</h1> -->
</div>
<!-- ------------------------fournisseur--------------------- -->
<section class="fournisseur">
  <div class="list-fournisseur">
    <h2 class="list-fournisseur-title">Fournisseur Enregistree</h2>
    <div class="searchbarre">
      <input
        type="text"
        id="search"
        placeholder="Recherche..."
        [formControl]="search"
      />
    </div>
    <button
      type="button"
      class="btn btn-success btn-add"
      (click)="openAddFrounisseur()"
    >
      <i class="fa fa-plus"></i> Ajout nouveau fournisseur
    </button>
  </div>
  <!-- ------------------affichage donnee fournisseur------------------ -->
  <table class="section-table-fournisseur">
    <thead class="table-heading-fournisseur">
      <tr class="heading">
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>Contact</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-body-fournisseur">
      @for (item of items; track $index) {
      <tr class="data">
        <td>
          {{ item.nomFrns }}
        </td>
        <td>
          {{ item.prenomFrns }}
        </td>
        <td>
          {{ item.adrsFrns }}
        </td>
        <td>
          {{ item.telFrns }}
        </td>
        <td>
          {{ item.typeFrns }}
        </td>
        <td class="data-control">
          <button class="btn btn-success" (click)="modifData(item)">
            <i class="fa-solid fa-pencil"></i>
          </button>

          <button class="btn btn-danger" (click)="deleteData(item.numFrns)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="print">
    <button type="button" class="btn btn-dark" (click)="openPrint()">
      <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
    </button>
  </div>
</section>

<!-- --------------------ORDRE----------------------- -->
<section class="fournisseur">
  <div class="list-fournisseur">
    <h2 class="list-fournisseur-title">Ordre Enregistree</h2>
    <button
      type="button"
      class="btn btn-success btn-add"
      (click)="OpenAddOrdre()"
    >
      <i class="fa fa-plus"></i> Ajout nouveau Ordre
    </button>
  </div>
  <table class="section-table-fournisseur">
    <thead class="table-heading-fournisseur">
      <tr class="heading">
        <th>Nom du service</th>
        <th>Date</th>
        <th>Annee du Journal</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-body-fournisseur">
      @for (dataOrdre of ordre; track $index) {
      <tr class="data">
        <td>
          {{ dataOrdre.service.nomService }}
        </td>
        <td>
          {{ dataOrdre.dateOrdre }}
        </td>
        <td>
          {{ dataOrdre.annee.newannee }}
        </td>
        <td class="data-control">
          <button class="btn btn-success" (click)="modifDataOrdre(dataOrdre)">
            <i class="fa-solid fa-pencil"></i>
          </button>

          <button
            class="btn btn-danger"
            (click)="deleteDataOrdre(dataOrdre.numOrdre)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="print">
    <button type="button" class="btn btn-dark" (click)="openPrintOrdre()">
      <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
    </button>
  </div>
</section>
