<section class="service">
  <form class="service-form">
    <div class="service-title">
      <h1 class="title">Service disponibles</h1>
      <hr />
    </div>
    <div class="service-form-containt">
      <label for="numero">Numero </label>
      <input type="text" placeholder="ex: 1" name="numero" required />
      <label for="name">Nom </label>
      <input type="text" placeholder="ex: BOA " name="name" required />
      <label for="libelle">Libelle </label>
      <input
        type="text"
        placeholder="ex: Banque Of Africa"
        name="libelle"
        required
      />
      <label for="soa">SOA </label>
      <input type="text" placeholder="ex: " name="soa" required />

      <label for="type">Type</label>
      <input type="text" placeholder="ex: " name="type" required />
      <div class="btn">
        <button type="submit" class="btn btn-primary">Confirmer</button>
      </div>
    </div>
  </form>
  <div class="tab-service">
    <div class="row">
      <div class="column">
        <table>
          <thead class="thead-service">
            <tr>
              <th>Numero</th>
              <th>Nom</th>
              <th>Libelle</th>
              <th>SOA</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="tbody-service">
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
              <td>Jill</td>
              <td>Smith</td>
              <td class="data-control">
                <button class="btn btn-success" aria-label="modif">
                  <i class="fa-solid fa-pencil"></i>
                </button>

                <button class="btn btn-danger" aria-label="delete">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="print">
      <button type="button" class="btn btn-dark">
        <i class="fa fa-print" aria-hidden="true"> </i> Imprimer
      </button>
    </div>
  </div>
</section>
