@if(PrintComponent){
<app-print-service (close)="openPrint()"></app-print-service>
}
<div class="service-heading">
  <div class="img">
    <img src="../../../../assets/img/DGBLogo-picsay.png" alt="" />
  </div>
  <div class="img">
    <img src="../../../../assets/img/logo-gris1-picsay.png" alt="" />
  </div>
  <div class="img">
    <img src="../../../../assets/img/logo_mfb-picsay.jpg" alt="" />
  </div>
</div>
<section class="service">
  <form
    class="service-form"
    [formGroup]="serviceForm"
    (submit)="submitservice()"
  >
    <div class="service-title">
      <h1 class="title">Service disponibles</h1>
      <hr />
    </div>
    <div class="service-form-containt">
      <label for="name">Nom </label>
      <input
        type="text"
        placeholder="ex: BOA "
        formControlName="nomService"
        required
      />
      <label for="libelle">Libelle </label>
      <input
        type="text"
        placeholder="ex: Banque Of Africa"
        formControlName="libelle"
        required
      />
      <label for="soa">SOA </label>
      <input
        type="text"
        placeholder="ex: Banque"
        formControlName="SOA"
        required
      />

      <label for="type">Type</label>
      <input
        type="text"
        placeholder="ex: International"
        formControlName="typeService"
        required
      />
      <div class="btn">
        @if (serviceForm.valid) {
        <button
          class="{{
            isRegisterSuccess
              ? 'btn btn-success transition'
              : 'btn btn-primary transition'
          }}"
          type="submit"
        >
          @if(isSubmitting) {
          <i class="fa fa-circle-notch fa-spin"></i>
          } @if(!isSubmitting && !isRegisterSuccess) { valider }
        </button>
        }
        <button type="button" (click)="clear()" class="btn btn-danger">
          Effacer
        </button>
      </div>
    </div>
  </form>
  <div class="tab-service">
    <div class="row">
      <div class="column">
        <table>
          <thead class="thead-service">
            <tr>
              <th>Nom</th>
              <th>Libelle</th>
              <th>SOA</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="tbody-service">
            @for (item of data; track $index) {
            <tr class="data">
              <td>
                {{ item.nomService }}
              </td>
              <td>
                {{ item.libelle }}
              </td>
              <td>
                {{ item.SOA }}
              </td>
              <td>
                {{ item.typeService }}
              </td>
              <td class="data-control">
                <button class="btn btn-success" (click)="modif(item)">
                  <i class="fa-solid fa-pencil"></i>
                </button>

                <button
                  class="btn btn-danger"
                  (click)="delete(item.numService)"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="print">
      <button type="button" class="btn btn-dark" (click)="openPrint()">
        <i class="fa fa-print" aria-hidden="true"> </i>
        Imprimer
      </button>
    </div>
  </div>
</section>
