<main class="add-ordre fill-view">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close buttton"
      (click)="closeForm()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form" [formGroup]="OrdreForm" (submit)="AddOrdre()">
      <div class="container-form">
        <h1>{{ title }}</h1>
        <hr />

        <div class="container-form">
          <label for="date">Date </label>
          <input
            type="date"
            name="date"
            id="date"
            formControlName="dateOrdre"
          />
        </div>
        <div class="container-form">
          <label for="nomService">Numero du service </label>
          <select formControlName="nomService" id="nomService">
            @for(service of servicedata; track $index){
            <option value="{{ service.nomService }}">
              {{ service.nomService }}
            </option>
            }
          </select>
        </div>
        <div class="container-form">
          <label for="newannee">Annee du Journal </label>
          <select name="newannee" id="newannee" formControlName="newannee">
            @for(annee of AnnneeData; track $index){
            <option value="{{ annee.newannee }}">{{ annee.newannee }}</option>
            }
          </select>
        </div>

        <div class="btn">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </div>
    </form>
  </div>
</main>
