@if(PrintComponent){
<app-print-quitus (close)="openPrint()"></app-print-quitus>
}
<main class="quitus-header">
  <div class="list-header">
    <h1 class="header-title">Liste des Quitus</h1>
    @if (openmodal) {
    <button
      type="button"
      class="btn btn-danger btn-add open-btn"
      (click)="closeModal()"
    >
      Fermer
    </button>
    } @else {
    <button
      type="button"
      class="btn btn-success btn-add open-btn"
      (click)="ajoutquitus()"
    >
      Ajout Etudiants
    </button>
    }
    <div class="searchbarre">
      <input
        type="text"
        id="search"
        placeholder="Recherche..."
        [formControl]="search"
      />
    </div>
  </div>

  <!-- -------------------open FORM-QUITUS--------------- -->
  @if(openmodal){

  <div class="form-add-quitus">
    <form class="form" [formGroup]="QuitusForm" (submit)="AddQuitus()">
      <h2 class="add-title">{{ add }}</h2>
      <hr />

      <div class="form-add-section">
        <div class="service">
          <!-- -----------------Num service--------------- -->
          <label for="nomservice">Nom du service </label>
          <select
            name="nomservice"
            id="nomservice"
            formControlName="nomService"
          >
            @for(service of servicedata; track $index){
            <option value="{{ service.nomService }}">
              {{ service.nomService }}
            </option>
            }
          </select>
        </div>

        <div class="quitus-formulaire">
          <!-- -----------------referenceQuitus--------------- -->
          <label for="referenceQuitus">Reference </label>
          <input
            type="text"
            formControlName="ReferenceQuitus"
            placeholder="ex: numero 103-15/MC/SG/DGCI"
          />
        </div>
        <div class="quitus-formulaire">
          <label for="objetQuitus">Objet </label>
          <input
            type="text"
            formControlName="objetQuitus"
            placeholder="ex: approbation du compte bancaire"
          />
        </div>

        <div class="quitus-formulaire">
          <!-- -----------------montantQuitus--------------- -->
          <label for="montantQuitus">Montant </label>
          <input
            type="text"
            formControlName="montantQuitus"
            placeholder="ex: 10000"
          />
          <label for="ar">Ar</label>
        </div>
        <div class="quitus-formulaire">
          <!-- -----------------exerciceAnnee--------------- -->
          <label for="exerciceAnnee">Exercice(Annee) </label>
          <input
            type="text"
            formControlName="exerciceAnnee"
            placeholder="ex: 2023"
          />
        </div>
        <div class="quitus-formulaire">
          <!-- -----------------date--------------- -->
          <label for="dateQuitus">Date </label>
          <input type="date" formControlName="dateQuitus" id="dateQuitus" />
        </div>
        <div class="quitus-formulaire">
          <!-- -----------------observation--------------- -->
          <label for="observation">Observation </label>
          <input
            type="text"
            formControlName="observateur"
            placeholder="ex: RAMANAMAHEFA Jean Justin"
          />
        </div>

        <div class="btn">
          @if (QuitusForm.valid) {
          <button
            class="{{
              isRegisterSuccess
                ? 'btn btn-success transition'
                : 'btn btn-primary transition'
            }}"
            type="submit"
          >
            @if (isSubmitting) { <i class="fa fa-circle-notch fa-spin"></i> }
            @if(!isSubmitting && openModif) {Modifier} @else {confirmer}
          </button>
          }
        </div>
      </div>
    </form>
  </div>
  }

  <table class="section-table">
    <thead class="table-heading">
      <tr class="heading">
        <th>Nom de Service</th>

        <th>Objet</th>
        <th>Reference</th>
        <th>Date</th>
        <th>Exercice</th>
        <th>Montant</th>
        <th>Observation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-body">
      @for (item of quitusdata; track $index) {
      <tr class="data">
        <td>{{ item.service.nomService }}</td>

        <td>{{ item.objetQuitus }}</td>
        <td>{{ item.ReferenceQuitus }}</td>
        <td>{{ item.dateQuitus }}</td>
        <td>{{ item.exerciceAnnee }}</td>
        <td>{{ item.montantQuitus }}</td>
        <td>{{ item.observateur }}</td>
        <td class="data-control">
          <button
            class="btn btn-success"
            aria-label="modif"
            (click)="modifAquitus(item)"
          >
            <i class="fa-solid fa-pencil"></i>
          </button>

          <button
            class="btn btn-danger"
            aria-label="delete"
            (click)="deleteQuitus(item.numQuitus)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="component-total">
    <div class="total">
      <label for="total" class="total-quitus">Nombre total des quitus : </label>
      <p class="nbr-total">{{ getTotalCount() }}</p>
    </div>
    <div class="btn-print">
      <button type="button" class="btn btn-dark" (click)="openPrint()">
        <i class="fa fa-print"> </i> Imprimer
      </button>
    </div>
  </div>
</main>
