.signup-form {
  overflow: hidden;
  background: #22232a;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth-form {
    min-height: 730px;
    width: 100%;
    max-width: 500px;
    &.form-hero {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border-radius: 8px 0 0 8px;
      //background-color: #eee;
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.514),
          rgba(0, 0, 0, 0.514)
        ),
        url(../../../../assets/img/gestion-inventaire.jpg);
      color: #f1f1f1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      p {
        margin: 50px;
      }
      h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .return {
        .btn {
          font-weight: bold;
          text-transform: uppercase;
          border: none;
          color: #fff;
          padding: 13px 30px;
          opacity: 0.9;

          &:hover {
            opacity: 1;
            filter: brightness(1.2);
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
    &.form-content {
      width: 100%;
      background: rgba(245, 245, 245, 0.781);
      border-radius: 0 8px 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .style-form {
        max-width: 330px;
        .container-form {
          h1 {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
          }
          hr {
            border: 1px solid black;
            margin-bottom: 25px;
          }
          .form-content-contener {
            label {
              font-size: 15px;
              font-weight: bold;
              text-transform: uppercase;
            }
            span {
              text-transform: uppercase;
              font-size: 15px;
              font-weight: bold;
              color: red;
              padding: 5px 85px;
            }
            input {
              width: 100%;
              padding: 15px;
              margin: 5px 10px 22px 0;
              display: inline-block;
              border: none;
              border-radius: 8px;
              background: #f1f1f1;
              transition: all 0.2s ease-in-out;
              &:focus {
                border: 1px solid rgb(0, 195, 255);
                background-color: #ddd;
                outline: none;
              }
            }
            select {
              @extend input;
              font-size: 16px;
              font-weight: bold;
              text-transform: uppercase;
            }
            &.password {
              position: relative;
              .btn-show-password {
                cursor: pointer;
                position: absolute;
                bottom: 25px;
                right: 8px;
                width: 40px;
                height: 42px;
                background: 0;
                outline: 0;
                border: 0;
                color: rgba(0, 0, 0, 0.4);

                &:hover {
                  color: #01233e;
                }

                &.check-state {
                  bottom: 23%;
                  .false {
                    color: #fe4b5a;
                  }

                  .true {
                    color: #49d581;
                  }
                }
              }
            }
          }
        }
        .btn {
          border: none;
          .btn-submit {
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            color: #fff;
            border-radius: 8px;
            background-color: #49d581;
            padding: 13px 30px;
            opacity: 0.9;

            &:hover {
              opacity: 1;
              filter: brightness(1.2);
            }
            &:active {
              transform: scale(0.9);
            }
            cursor: pointer;
          }
        }
      }
    }
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
