<main class="print-ordre fill-view">
  <div class="title">
    <h1>Est ce le model que vous voulez imprimer ?</h1>
  </div>
  <table class="section-table-fournisseur" #content>
    <thead class="table-heading-fournisseur">
      <tr class="heading">
        <th>Numero d'ordre</th>
        <th>Date</th>
        <th>Numero du service</th>
        <th>Nom du service</th>
        <th>Annee du Journal</th>
      </tr>
    </thead>
    <tbody class="table-body-fournisseur">
      @for (dataOrdre of ordre; track $index) {
      <tr class="data">
        <td>
          {{ dataOrdre.numOrdre }}
        </td>
        <td>
          {{ dataOrdre.dateOrdre }}
        </td>
        <td>
          {{ dataOrdre.service.numService }}
        </td>
        <td>
          {{ dataOrdre.service.nomService }}
        </td>
        <td>
          {{ dataOrdre.annee.newannee }}
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="acceptandcancel">
    <button type="submit" class="btn btn-success" (click)="printOrdre()">
      Oui
    </button>
    <button type="submit" class="btn btn-danger" (click)="closePrint()">
      Non
    </button>
  </div>
</main>
