<main class="add-newYear fill-view">
  <div class="form-container">
    <button
      class="btn-close-form"
      type="button"
      aria-label="close button"
      (click)="closeAdd()"
    >
      <i class="fa fa-times"></i>
    </button>
    <form class="style-form" [formGroup]="AnneeForm" (submit)="submitAnnee()">
      <div class="container-form">
        <h1>Ajout Nouvelle Annee</h1>
        <hr />

        <label for="newannee">Annee </label>
        <input
          type="text"
          name="newannee"
          formControlName="newannee"
          required
        />
        @if (newannee?.touched && newannee?.errors?.["required"]) {
        <span class="error-text"> L'annee s'il vous plait </span>
        }

        <div class="btn">
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </form>
  </div>
</main>
