@if(PrintComponent){
<app-print-sortie (close)="print()"></app-print-sortie>
}

<main class="sortie">
  <!-- ----------------------entree------------------------- -->
  <section class="form-component w-100">
    <div class="component-title">
      <h1 class="title">Sortie d'un materiel</h1>

      <hr />
      <form class="component-form" [formGroup]="EntreeForm">
        <div class="component">
          <label for="numFolioGL">Numero Folio du Grand Livre</label>
          <input
            type="text"
            name="numFolioGL"
            id="numFolioGL"
            formControlName="numFolioGL"
          />
        </div>
        <div class="component">
          <label for="nomenclature">Nomenclature</label>
          <select
            name="nomenclature"
            id="nomenclature"
            formControlName="nomenclature"
          >
            @for(i of nomenclature; track $index){
            <option [value]="i">{{ i }}</option>
            }
          </select>
        </div>
        <div class="component">
          <label for="designation">Designation</label>
          <input
            type="text"
            name="designation"
            id="designation"
            formControlName="designation"
          />
        </div>
        <div class="component">
          <label for="especeUnitaire">Espece Unitaire</label>
          <select
            name="especeUnitaire"
            id="especeUnitaire"
            formControlName="especeUnitaire"
          >
            @for(boucle of especeUnitaire; track $index){
            <option [value]="boucle">{{ boucle }}</option>
            }
          </select>
        </div>
        <div class="component">
          <label for="quantite">Quantite</label>
          <input
            type="text"
            name="quantite"
            id="quantite"
            formControlName="quantite"
          />
        </div>
        <div class="component">
          <label for="prix">Prix</label>
          <input type="text" name="prix" id="prix" formControlName="prix" />
        </div>

        <!-- ----------------------Grand livre------------------------- -->

        <div class="component-title">
          <h1 class="title">Grand Livre</h1>
          <hr />
          <div class="component">
            <label for="newannee">Annee</label>
            <select name="newannee" id="newannee" formControlName="newannee">
              @for(annee of anneedata; track $index){
              <option value="{{ annee.newannee }}">{{ annee.newannee }}</option>
              }
            </select>
          </div>
        </div>

        <!-- ----------------------facture------------------------- -->

        <div class="component-title">
          <h1 class="title">Facture</h1>
          <hr />
          <div class="component-form">
            <div class="component">
              <label for="destination">Facture</label>
              <select id="destination" formControlName="destination">
                @for(facture of facturedata; track $index){
                <option value="{{ facture.destination }}">
                  {{ facture.destination }}
                </option>
                }
              </select>
            </div>
            <div class="addSortie">
              <button
                type="button"
                class="btn btn-primary w-100"
                (click)="Sortie()"
              >
                Sortir
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- ----------------------table------------------------- -->

  <section class="table-entree 1ertableau">
    <table class="section-table-sortie">
      <thead class="table-heading-sortie">
        <tr class="heading">
          <th>Numero Folio</th>
          <th>Nomenclature</th>
          <th>Designation</th>
          <th>Espace Unitaire</th>
          <th>Quantite</th>
          <th>Prix</th>
          <th>Annee Grand Livre</th>
          <th>Destination du facture</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for (data of entreedata; track $index) {
        <tr class="data" (click)="Click(data)">
          <td>{{ data.numFolioGL }}</td>
          <td>{{ data.nomenclature }}</td>
          <td>{{ data.designation }}</td>
          <td>{{ data.especeUnitaire }}</td>
          <td>{{ data.quantite }}</td>
          <td>{{ data.prix }}</td>
          <td>{{ data.annee.newannee }}</td>
          <td>{{ data.facture.destination }}</td>
        </tr>
        }
      </tbody>
    </table>
  </section>

  <section class="table 2emtableau">
    <table class="section-table-sortie">
      <thead class="table-heading-sortie">
        <tr class="heading">
          <th>Numero</th>
          <th>Nomenclature</th>
          <th>Designation</th>
          <th>Prix</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @for (data of sortiedata; track $index) {
        <tr class="data">
          <td>{{ data.numSortie }}</td>
          <td>{{ data.entree.nomenclature }}</td>
          <td>{{ data.entree.designation }}</td>
          <td>{{ data.entree.prix }}</td>
          <td class="data-control">
            <button
              class="btn btn-danger"
              (click)="deleteSortie(data.numSortie)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="print">
      <button type="button" class="btn btn-dark" (click)="print()">
        <i class="fa fa-print" aria-hidden="true"> </i>
        Imprimer
      </button>
    </div>
  </section>
</main>
